#waipclock.fullheight
  .h-50.w-50.clock_y
    .h-100.clock_x
      #time.h-70.d-flex.align-items-end.text-muted.font-weight-bold.tf_clock -Uhrzeit-
      #day.h-30.d-flex.align-items-start.text-muted.tf_clock -Datum-
