footer.footer
  .container-fluid
    .d-flex.justify-content-between
      .span.text-muted.text-left &copy; #{public.company} - #{new Date().getFullYear()}
      .span.text-muted.text-right= public.version
