header
  // Fixed navbar
  nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top
    a.navbar-brand(href='/')= public.app_name
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item(class=(title == 'Startseite') ? 'active' : null)
          a.nav-link.ion-md-home(href='/') &nbsp;Startseite
        li.nav-item(class=(title == 'Alarmmonitor') ? 'active' : null)
          a.nav-link.ion-md-desktop(href='/waip') &nbsp;Alarmmonitor
        li.nav-item(class=(title == 'Alarmmonitor') ? 'active' : null)
          a.nav-link.ion-md-paper-plane(href='/waip') &nbsp;Einsatzrückmeldung
        a#navbarWeiteresDropdown.nav-link.dropdown-toggle.ion-md-information-circle-outline(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | &nbsp;Weiteres
        .dropdown-menu(aria-labelledby='navbarWeiteresDropdown')
          a.dropdown-item(href='/show_active_user') Verbundene PCs/Benutzer
          a.dropdown-item(href='/show_active_waip') laufende Einsätze  
          //.dropdown-divider
          //li.nav-item(class=(title == 'Hilfe') ? 'active' : null)
            a.nav-link(href='/help')  Weiteres         
      ul.navbar-nav.ml-auto
        if user
          if user.permissions == 'admin'
            li.nav-item.dropdown
              a#navbarAdminDropdown.nav-link.dropdown-toggle.ion-md-server(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Administration
              .dropdown-menu(aria-labelledby='navbarAdminDropdown')
                a.dropdown-item.ion-md-contacts(href='/edit_users')  Benutzer und Rechte verwalten
                .dropdown-divider
                a.dropdown-item(href='/show_active_user') Verbundene PCs/Benutzer
                a.dropdown-item(href='/show_active_waip') laufende Einsätze  
                .dropdown-divider
                a.dropdown-item.text-danger.ion-md-warning(href='/test_alert')  Test-Alarm 
                a.dropdown-item.ion-md-document(href='/show_log')  Log-Datei                   
          li.nav-item.pr-3(class=(title == 'Einstellungen') ? 'active' : null)
            a.ion-md-settings.nav-link(href='/config')  Einstellungen                 
          li.nav-item
            form(action='/logout', method='POST')
              button.btn.btn-outline-warning.ion-md-log-out(type='submit')=' \''+user.user +'\' abmelden'         
        else 
          li.nav-item(class=(title == 'Login') ? 'active' : null)
            a.nav-link.ion-md-log-in(href='/login')  Anmelden
