header
  // Fixed navbar
  nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top
    a.navbar-brand(href='/') Wachalarm Web
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item(class=(title == 'Startseite') ? 'active' : null)
          a.nav-link(href='/') Startseite
        li.nav-item(class=(title == 'Alarmmonitor') ? 'active' : null)
          a.nav-link(href='/waip') Alarmmonitor
        li.nav-item(class=(title == 'Über') ? 'active' : null)
          a.nav-link(href='/ueber') Über        
      ul.navbar-nav.ml-auto
        if user
          if user.permissions == 'admin'
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.px-4.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Administration
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/edit_users') Benutzer und Rechte verwalten
                .dropdown-divider
                a.dropdown-item(href='/show_active_user') Verbundene PCs/Benutzer
                a.dropdown-item(href='/show_active_waip') Akutelle Einsätze  
                .dropdown-divider
                a.dropdown-item(href='/show_log') Log-Datei                     
          li.nav-item
            form(action='/logout', method='POST')
              button.btn.btn-outline-success(type='submit') Abmelden          
        else 
          li.nav-item(class=(title == 'Login') ? 'active' : null)
            a.nav-link(href='/login') Anmelden
