#waipclock.fullheight
  .h-95
    .h-75.w-75.clock_y
      .h-100.clock_x
        #time.h-70.d-flex.align-items-end.text-muted.font-weight-bold.tf_clock -Uhrzeit-
        #day.h-30.d-flex.align-items-start.text-muted.tf_clock -Datum-
  .h-5
    .h-100.w-25.client_wache.text-center.text-secondary.tf_clock
      #wachenname.h-100.ion-md-business=data_wache || ' -Wachenname-'
      
