// Modal
#responseModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h3#responseModalTitle.modal-title.text-danger Einsatzrückmeldung
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      #responseModalBody.modal-body
        h4.text-info 
          | Aufgabenwahrnehmung
        p Ich komme als:
        .form-check
          input#radios_res_ek.form-check-input(type='radio', name='radios_res', value='option1', checked='')
          label.form-check-label(for='radios_res_ek')
            | Einsatzkraft
        .form-check
          input#radios_res_ma.form-check-input(type='radio', name='radios_res', value='option2')
          label.form-check-label(for='radios_res_ma')
            | Maschinist
        .form-check
          input#radios_res_fk.form-check-input(type='radio', name='radios_res', value='option3')
          label.form-check-label(for='radios_res_fk')
            | Führungskraft
        br
        p zum Einsatz.
        hr
        h4.text-info 
          | AGT
        .form-check
          input#cb_res_agt.form-check-input(type='checkbox', value='')
          label.form-check-label(for='cb_res_agt')
            | Außerdem bin ich Atemschutzgeräteträger!
      .modal-footer
        button.btn.btn-warning(type='button', data-dismiss='modal') Senden
