// Modal
#responseModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h3#responseModalTitle.modal-title.text-danger Einsatzrückmeldung
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      #responseModalBody.modal-body
        h4.text-info 
          | Aufgabenwahrnehmung
        p Ich komme als:
        .form-group
          .custom-control.custom-radio
            input#radios_res_ek.custom-control-input(type='radio', name='radios_res', value='1')
            label.custom-control-label(for='radios_res_ek')
              | Einsatzkraft
          .custom-control.custom-radio
            input#radios_res_ma.custom-control-input(type='radio', name='radios_res', value='1')
            label.custom-control-label(for='radios_res_ma')
              | Maschinist
          .custom-control.custom-radio
            input#radios_res_fk.custom-control-input(type='radio', name='radios_res', value='1')
            label.custom-control-label(for='radios_res_fk')
              | Führungskraft
        br
        p zum Einsatz.
        hr
        h4.text-info 
          | AGT
        .form-check
          input#cb_res_agt.form-check-input(type='checkbox', value='1')
          label.form-check-label(for='cb_res_agt')
            | Außerdem bin ich Atemschutzgeräteträger!
      .modal-footer
        button#send_response.btn.btn-warning(type='button', data-dismiss='modal') Senden
