// Modal
#waipModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#waipModalTitle.modal-title Modal Titel
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      #waipModalBody.modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Schließen
