.row.no-gutters
  .col-10
    #einsatz_art.align-items-center.font-weight-bold.rounded.bg-light.p-3.mr-1
      #einsatz_stichwort.ion-md-apps  -Stichwort-
  .col-2
    .align-items-center.justify-content-center.rounded.bg-light.text-info.p-3
      #sondersignal.ion-md-apps.text-center
  .col-12
    //.pt-3_pt.ptr-3_ls.h-50
    #map.rounded.mt-2
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
  .col-12.mt-2
    #ortsdaten.list-group
      a.list-group-item.py-2 -Objekt-
      a.list-group-item.py-2 -Ort-
      a.list-group-item.py-2 -Orststeil-
      a.list-group-item.py-2 -Straße Hsnr-
      a.list-group-item.py-2.text-warning -Besonderheiten-
  .col-12.mt-3
    h5.text-center.text-danger.font-weight-bold Alarmierte Einsatzmittel
    table.table.table-striped
      tbody
        tr 
          th
            col-10 FL CB 00/00-00
            col-2.badge.badge-pill.badge-success 2
          th 
            div FL CB 12/00-00
            div.badge.badge-pill.badge-warning 3
        tr
          th
            div FL CB T-Dienst
            div.badge.badge-pill.badge-danger 4
          th 
            div KAT CB 00/00-00
            div.badge.badge-pill.badge-success 2
        tr
          th 
            div FL SPN 00/00-00
            div.badge.badge-pill.badge-info 1
  .col-12.h-20.d-flex.align-items-center.rounded.bg-light.font-weight-bold.text-info.tf_singleline
        #besonderheiten -Besonderheiten-
  .col-12.h-5.d-flex.align-items-end.justify-content-center.pt-3 
    .progress(style='height: 100%;').flex-fill
      #hilfsfrist.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')       
  audio#audio(controls='')
    source(src='', type='audio/mpeg')  


//button einsatzmrückmeldung
//dann modal mit der Rückmeldungsoption