#waiptableau.fullheight.row.no-gutters
  .col-2.h-5.d-flex.align-items-center.py-1.text-dark.tf_singleline 
    #date-time -Datum- - -Uhrzeit-
  .col-7.h-5.d-flex.align-items-center.pt-2.px-3.py-1
    // TODO: Progressbar für Hilfsfrist-Ablaufzeit anzeigen
    //.progress.flex-fill
      #hilfsfrist.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='900', style='width: 10%') 1:15
  .col-3.h-5.d-flex.align-items-center.justify-content-end.py-1.text-dark.tf_singleline
    #wachenname.ion-md-business=data_wache || ' -Wachenname-'
  .col-10.h-15.h-20_ls.pr-3
    #einsatz_art.h-100.w-100.d-flex.align-items-center.font-weight-bold.p-3.rounded.bg-light.tf_singleline
      #einsatz_stichwort.ion-md-apps  -Stichwort-
  .col-2.h-15.h-20_ls.d-flex.align-items-center.justify-content-center.p-3.rounded.bg-light.text-info.tf_singleline
    #sondersignal.ion-md-apps
    // TODO: Button um Sound nochmals abzuspielen
  .col-12.col-5_ls.h-35.h-70_ls.pt-3_pt.ptr-3_ls 
    #map.h-100.rounded
  .col-12.col-7_ls.h-40.h-70_ls.py-3_ls
    .row.no-gutters.h-100
      .col-6.h-80.d-flex.align-items-end.justify-content-start.tf_singleline
        #ortsdaten.flex-fill -Objekt-
          br
          | -Ort-
          br
          | -Ortsteil-
          br
          | -Straße Hsnr-
      .col-6.h-80.d-flex.align-items-end.justify-content-end.tf_multiline
          ul#em_alarmiert.list-group
            li.list-group-item.d-flex.justify-content-between.align-items-center -Einsatzmittel 1-
            li.list-group-item.d-flex.justify-content-between.align-items-center -Einsatzmittel 2-
            li.list-group-item.d-flex.justify-content-between.align-items-center -Einsatzmittel n-  
          // TODO: Status mit anzeigen (als .badge.badge-pill)
      .col-12.h-20.d-flex.align-items-center.mt-3.rounded.bg-light.font-weight-bold.text-info.tf_singleline
        #besonderheiten -Besonderheiten-
  .col-12.h-5.d-flex.align-items-end.justify-content-center.pt-2.text-dark.tf_singleline 
    #em_weitere -weiteres Einsatzmittel 1-, -weiteres Einsatzmittel 2-, -weiteres Einsatzmittel n-
  audio#audio(controls='')
    source(src='', type='audio/mpeg')  
