extends layout

block content
  main(role='main')
    .container
      .row
        .col
          .jumbotron.text-center
            h1.display-1.font-weight-bold= error.status
            hr.my-4
            .lead
              h3.text-muted Es ist ein Fehler aufgetreten
              p.text-danger= message
            .display-4.text-muted.ion-ios-bug
