extends layout

block content
  main(role='main')
    .container
      .row
        .col
          .jumbotron.text-center
            h1.display-1.font-weight-bold= error.status
            hr.my-4
            .lead
              h3 Es ist ein Fehler aufgetreten
              p.text-muted= message
            .display-1.ion-ios-bug-outline
