extends layout

block content
  main(role='main')
    .container
      .row
        .col
          .jumbotron.text-center
            h1.display-1.font-weight-bold= title
            hr.my-4
            .lead
              h3.text-muted= public.app_name
              p Entwickelt von Robert Richter
              p Alle Rechte vorbehalten
              br
              p
                | mehr Informationen unter 
                a(href="https://github.com/Robert-112/Wachalarm-IP-Web") https://github.com/Robert-112/Wachalarm-IP-Web
            .display-4.text-muted.ion-md-github
  //extends layout
  //block content
    main(role='main')
      .container.h-100
        .row.justify-content-center.h-100.d-flex
          .col-md-8
            .card.text-center
              h1.card-header Wachalarm-IP-Web 
              .card-body
                p Entwickelt von Robert Richter
                p Alle Rechte vorbehalten
                br
                p
                  | mehr Informationen unter 
                  a(href="https://github.com/Robert-112/Wachalarm-IP-Web") https://github.com/Robert-112/Wachalarm-IP-Web
