extends layout

block content
  main(role='main')
    .jumbotron
      .container      
        h1.text-danger.display-4= public.app_name
        h5.text-muted &copy; #{public.company}
        hr
        a Dieser Webdienst zeigt Wachalarme im Vollbild an (inkl. synthetischer Sprachdurchsage und Karte).
        p Zusätzlich besteht für Einsatzkräfte die Möglichkeit zur einfachen Rückmeldung.
    .container
      .row
        .col-md-12.p-3
          .card
            if !user
              .card-header
                h4.card-title.text-warning Sie sind nicht angemeldet! 
              .card-body
                .card-text 
                  p Ohne Anmeldung haben Sie nur Zugriff auf einen eingeschr&auml;nkten Funktionsumfang.
                  p.text-muted Bitte melden Sie sich #[a(href="/login") hier] an.
            else
              .card-header
                h4.card-title.text-info='Sie sind als Nutzer \''+user.user+'\' angemeldet.'
              .card-body
                p.card-text Entsprechend Ihrer Berechtigungen haben Zugriff auf folgende Wachalarme:
                ul
                  each val in user.permissions.split(',')
                    li
                      if user.permissions == 'admin'
                        a.text-muted Sie sind Administrator und haben somit vollst&auml;ndigen Zugriff auf #[a(href="/waip/0") alle] Wachalarme
                      else
                        a(href="/waip/" + val)= val 
