doctype html
html
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='x-ua-compatible', content='ie=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title= title
			link(rel='stylesheet', href='/css/bootstrap.css')
			link(rel='stylesheet', href='/css/waip.css')
			script(src='/js/jquery.min.js')
			script(src='/js/bootstrap.bundle.min.js')
	body
		include includes/header
		block content
		include includes/footer
