extends layout

block content
  main(role='main')
    .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.my-5
            .card-body
              h5.card-title.text-center Benutzeranmeldung
              form
                .form-group
                  label(for='inputUser') Benutzername
                  input#inputUser.form-control(type='user' placeholder='Benutzername eingeben' required='' autofocus='')
                  small.form-text.text-muted Der Benutzer wird Ihnen von der Administration mitgeteilt.
                .form-group
                  label(for='inputPassword') Passwort
                  input#inputPassword.form-control(type='password' placeholder='Passwort' required='')                  
                .form-check
                  input#loginCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='loginCheck1') angemeldet bleiben
                button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Anmelden
