extends layout

block content
  main(role='main')
    .container
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.my-5
            .card-body
              h5.card-title.text-center Benutzeranmeldung
              form(action='/login', method='POST')
                .form-group
                  label(for='inputUser') Benutzername
                  input#login-user.form-control(type='text' name='user'  placeholder='Benutzername eingeben' required='' autofocus='')
                  small.form-text.text-muted Der Benutzer wird Ihnen von der Administration mitgeteilt.
                .form-group
                  label(for='inputPassword') Passwort
                  input#login-password.form-control(type='password' name='password' placeholder='Passwort' required='')  
                .form-group
                  .custom-control.custom-switch
                    input#rembemerme.custom-control-input(type='checkbox' name='rememberme' checked='')
                    label.custom-control-label.text-warning(for='rembemerme') Anmeldung dauerhaft speichern
                button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Anmelden
      .row
        .col-sm-9.col-md-7.col-lg-5.mx-auto
          .card.my-5
            .card-body
              h5.card-title.text-center Anmeldung mit IP-Adresse
              form(action='/login_ip', method='POST')
                .form-group
                  small.form-text.text-muted Wenn die IP-Adresse Ihres Gerätes hinterlegt ist, 
                    | können Sie sich auch ohne Benutzername/Kennwort anmelden. 
                    | Ihre Anmeldung wird dann dauerhaft gespeichert.
                button.btn.btn-lg.btn-outline-primary.btn-block.text-uppercase(type='submit') Anmelden
