extends layout

append head
  link(rel='stylesheet', href='/css/ionicons.min.css')
  link(rel='stylesheet', href='/css/leaflet.css')
  link(rel='stylesheet', href='/css/waip.css')

block content
  .container-fluid
    include includes/wachalarm
  script(src='/js/leaflet.js')
  script(src='/js/textFit.min.js')
  script(src='/js/waip.js')
  
